{% extends "layout.jinja2" %}
{% block body %}
<article>
    <hl>{{ entry.title }}</h1>
    <hr/>
    <p>{{ entry.body }}</p>
    <hr/>
    <p>Created <strong title="{{ entry.created }}">{{entry.created}}</strong></p>
</article>
<!-- <p><a href="{{ request.route_url('home') }}">Go Back</a></p>    end working for sesssion 2 -->
<p>
    <a href="{{ request.route_url('home') }}">Go Back</a> ::
    <a href="{{ request.route_url('action', action='edit', _query=(('id',entry.id),)) }}">
        Edit Entry</a>
</p>
{% endblock %}

